.index-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.menu-a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.menu-a:hover {
  color: #ff3c00;
}
.header-button {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background: #ff3c00;
  border: #ff3c00;
  border-radius: 0.2em;
  color: white;
  font-size: 0.92em;
  cursor: pointer;
  transition: 0.3s;
}
.header-button:hover {
  background-color: #bd2d10;
}
.mobile-header {
  background: #ff3c00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
